@{
    ViewData["Title"] = "Home Page";
}

<div id="background" class="img-fluid">
    <img src="~/img/hb3.png" class="img-fluid" alt="Happy BirthDay Capgemini">
    <button type="button" class="btn">Login</button>
</div>
