@model HappyBDay.Models.Users

@{
    ViewData["Title"] = "Edit";
}
<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5">
        <h1 style="text-align:center">Edit</h1>

        <h3 style="text-align:center">Users</h3>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdProfile" class="control-label"></label>
                        <select asp-for="IdProfile" class="form-control" asp-items="ViewBag.IdProfile"></select>
                        <span asp-validation-for="IdProfile" class="text-danger"></span>
                    </div>
                    @*<div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                        </label>
                    </div>*@
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-light">Back to List</a>
                    </div>
                </form>
            </div>
        </div>


        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
</section>