@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    ViewData["Title"] = "Sucess";
}

<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5">
        <div class="text-success">
            <h1>
                @ViewBag.Mensagem
            </h1>
        </div>
        <div class="text-left mt-5">
            <a asp-action="Index" class="btn btn-light">Back to List</a>
        </div>
    </div>
</section>