
#background {
    position: relative;
    width: auto;
    
}

    /* Make the image responsive */
    #background img {
        width: 100%;
        height: 100%;
    }

    /* Style the button and place it in the middle of the container/image */
    #background .btn {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        font-size: 20px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

        #background .btn:hover {
            background-color: darkgrey;
        }
