@{
    ViewData["Title"] = "EmailEnviado";
}
<br />
<h1 class="text-center">Success</h1>
<hr />
<br />
<h3 class="text-center">The birthday emails were sent.</h3>

<br />
<br />
<br />

<div class="container px-4 px-lg-5 text-center">
    <a class="btn btn-primary" href="../Options/Index">Back to home</a>
</div>

