@model HappyBDay.Models.Profile

@{
    ViewData["Title"] = "Details";
}
<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5">
        <h1 style="text-align:center">Details</h1>

        <div>
            <h3 style="text-align:center">Profile</h3>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-light">Back to List</a>
        </div>
    </div>
</section>