

<div class="card text-white bg-warning mb-3">
    <div class="card-body">
        <h5 class="card-title">Error</h5>
        <p class="card-text">@ViewBag.Mensage</p>

        <div>
            <a class="btn btn-primary" asp-action="Index">Go Back</a>
        </div>
    </div>
</div>