@model ConsultantsListViewModel

@{
    ViewData["Title"] = "Birthdays this month";
}
<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5">

        <h1 class="text-center mb-5">Birthdays this month</h1>

        @if (Model.Consultants.Count() < 1)
        {
            <h4 class="text-center mt-4">List Empty.</h4>
            <h3 class="text-center">There are no birthdays this month.</h3>
        }

        @if (Model.Consultants.Count() > 0)
        {
            <div>
                <h3  class="text-center mb-5">Consultants</h3>



                <table class="table">
                    <thead style="color: #0070AC">
                        <tr>
                            <th style="border-top:none">
                                Name
                            </th>
                            <th style="border-top:none">
                                Age
                            </th>
                            <th style="border-top:none">
                                Date Of birth
                            </th>
                            <th style="border-top:none">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Consultants)
                        {
                            //if(DateTime.Today == item.DateOfBirth)
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Age)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }
        <div class="text-left mt-4">
            <a asp-action="Index" class="btn btn-light">Back to List</a>
        </div>
    </div>
    <div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
    
    
</section>